 # Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Required
set gamename rdr3
set sv_enforceGameBuild 1355
ensure mapmanager
ensure sessionmanager-rdr3
ensure spawnmanager
ensure basic-gamemode
ensure chat
ensure fivem
#ensure hardcap

# Database
ensure ghmattimysql
set mysql_connection_string "mysql://USERNAME:PASSWORD@IP/DATABASENAME"
set mysql_debug 0
set mysql_debug_output "both"
set mysql_slow_query_warning 100

# QBCore Required | Core
ensure qb-core
ensure qb-spawn
ensure qb-multicharacter


sv_scriptHookAllowed 0

# Tags
sets tags "QBCore"
sets Developers "QBCore family" 

# Language
sets locale "en-US" 

# Banner
sets banner_detail ""
sets banner_connecting ""
sets Discord ""
sets Teamspeak ""

# Set your server's hostname
sv_hostname "QBCore"

# Loading a server icon (96x96 PNG file)
load_server_icon QBCore.png

# Hide player endpoints in external log output.
sv_endpointprivacy true

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey ""

# Max clients
sv_maxclients 8